<%- layout('../form') %>


<div class="insurance_info topMainPadding">
    <div class="insurance_text">
        Request Form
    </div>
    <ul class="breadcrumbc">
        <li class="breadcrumb__item breadcrumb__item--blank">
            Vehicle Details
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Personal Info
        </li>
        <li class="breadcrumb__item breadcrumb__item--current" style="color: green">
            Insurance Info
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Quotation
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Further Vehicle Information
        </li>
    </ul>

    <div id="insurance_detail" class="vehicle_detail_bg" >
        <form name="insurance_detail" action="" method="post" onsubmit="return validateFormInsuranceV()">
            <div class="row">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">No Claims Bonus</label>
                        <select id="no_claim_bonus" name="no_claim_bonus" class="field__input field__input--select" required>
                            <option value="">Select No Claims Bonus</option>
                            <% for(var x = 1; x < 5; x++) { %>
                            <option value="<%= x %>"><%= x %> year</option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Current Insurer</label>
                        <select id="insurance_company" name="insurance_company" class="field__input field__input--select" required>
                            <option value="">Select Current Insurer</option>
                            <% for(var y = 0; y < insurance_companies.length; y++) { %>
                            <option value="<%= insurance_companies[y].id %>"><%= insurance_companies[y].insurance_name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Current Insurer</label>
                        <select id="cover_type" class="field__input field__input--select" name="cover_type" required>
                            <option value="">Select Cover Type Required</option>
                            <% for(var z = 0; z < cover_types.length; z++) { %>
                            <option value="<%= cover_types[z].id %>"><%= cover_types[z].cover_type %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row paddInsu">
                <div id="showstartdatelabel" class="field__input-wrapper">
                    <label for="checkout_shipping_address_country" class="field__label">Start Date</label>
                    <div class='input-group date' id='insuranceDetailDatePicker' >
                        <input id="startDateInsurance" name="startDateInsurance" type='text' class="field__input readonly" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="Start Date"  required  autocomplete="off" />
                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                    </div>
                </div>
            </div>
            <div class="row position_none">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Voluntary Excess</label>
                        <select id="voluntary_excess" name="voluntary_excess" class="field__input field__input--select" required>
                            <option value="">Select Voluntary Excess</option>
                            <% for(var z = 0; z < voluntary_excess.length; z++) { %>
                            <option value="<%= voluntary_excess[z].id %>"><%= voluntary_excess[z].voluntary_excess %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row position_none">
                <div class="field field--required field--three-eights field--show-floating-label">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label for="checkout_shipping_address_country" class="field__label">Purpose</label>
                        <select id="purpose" name="purpose" class="field__input field__input--select" required>
                            <option value="">Select Purpose</option>
                            <% for(var z = 0; z < purposes.length; z++) { %>
                            <option value="<%= purposes[z].id %>"><%= purposes[z].purpose %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row position_none">

                <div class="radiotype">
                    <label class="control text">Autorise Agent Repair:</label>
                    <label class="radio">
                        <input type="radio" class="rad" name="termSmoke" value="1" id="termSmokeTrue">
                        <span class="outer"><span class="inner"></span></span>Yes </label>
                    <label class="radio">
                        <input type="radio" class="rad" name="termSmoke" checked="" value="0" id="termSmokeFalse">
                        <span class="outer"><span class="inner"></span></span>No</label>
                </div>
                <div class="row insuranceButtonMarginTop position_none">
                    <div style="float: left;width: 100%;" class="row step__footer position_none">

                        <button class="step__footer__continue-btn btn " type="submit" name="button">
                            <span class="btn__content">Process</span>
                        </button>
                        <a class="step__footer__previous-link" href="insurance.html">
                            <svg viewBox="0 0 6.7 11.3" height="11.3" width="6.7" xmlns="http://www.w3.org/2000/svg" class="previous-link__icon icon--chevron icon">
                                <path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"/>
                            </svg>
                            Return to Previous Page
                        </a>
                    </div>
                </div>
        </div></form>
    </div>
    <div class="bottomInfor">
        * Note - Information provided must be true.
    </div>
</div>

