<%- layout('../form') %>


<div class="insurance_info topMainPadding">
    <div class="insurance_text">
        Request Form
    </div>
    <ul class="breadcrumbc">
        <li class="breadcrumb__item breadcrumb__item--blank">
            Vehicle Details
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Personal Info
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Insurance Info
        </li>
        <li class="breadcrumb__item breadcrumb__item--current" style="color: green">
            Quotation
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Further Vehicle Information
        </li>
    </ul>

    <div id="quotation_detail" class="vehicle_detail_bg">

        <div class="row quoteColor">
            <div class="col-lg-3 quoteColor_wrapper">
                <select name="">
                    <option selected="">Select Insurance ... </option>
                    <% if(typeof companies !== 'undefined'){ %>
                    <% for(var j = 0; j < companies.length; j++) { %>
                    <option value="<%= companies[j].id %>"><%= companies[j].insurance_name %></option>
                    <% } %>
                    <% } %>

                </select>
            </div>

            <% for(var q = 0 ; q < graphicInfo.length; q++) { %>

                <div class="col-lg-1">
                        <span id="credit_card_verification_value_tooltip" tabindex="0"
                              class="field__icon icon icon--question has-tooltip" role="tooltip">
                            <img src="/static/images/<%=graphicInfo[q].graphic_info %>"/>
                            <span class="tooltip">
                                <span data-cvv-tooltip="unknown">
                                    <%=graphicInfo[q].tooltip_msg %>
                                </span>
                                <span data-cvv-tooltip="amex" class="hidden">
                                    4-digit security code on the front of your card
                                </span>
                                <span data-cvv-tooltip="other" class="hidden">
                                    3-digit security code on the back of your card
                                </span>
                            </span>
                        </span>
                </div>

            <% } %>

        </div>

            <% var count = 0;
                var m = 0;
            for(var h = 0; h < quotations.length; h++ ){
                var company_id = quotations[h].company_id;
                count++;
            %>

            <% if(m != company_id){ %>
            <% if(m != 0){ %>
    </div>
    <% } %>

    <% m = company_id; %>

    <a class="" href="/furtherVehicleDetails/<%= quotations[h].company_id%>">
        <div class="row quoteColor table-align-verticle <%= quotations[h].graphic_info == 'sdfsdfsdf' ? 'selected has-tooltip' : '' %>">
            <div class="col-lg-3">

                <img src="/static/images/<%='aia-logo.png' /*quotations[h].graphic_info*/ %>" width="100%"/>
            </div>
            <div class="col-lg-2">
                <%= quotations[h].insurance_feature %>
            </div>

            <% } else { %>
            <div class="col-lg-2">
                <%= quotations[h].insurance_feature %>
            </div>

            <% } if(count == 3) { %>
            <div class="col-lg-2">
                LKR <%= insuranceCompanyValues[quotations[h].company_id] %>
            </div>
            <% count = 0; %>
            <% } %>
            <% } %>

        </div>

    </a>



    <div class="row insuranceButtonMarginTop">
        <div style="float: left;width: 100%;" class="row step__footer">
            <a class="step__footer__previous-link" href="insurance.html">
                <svg viewBox="0 0 6.7 11.3" height="11.3" width="6.7" xmlns="http://www.w3.org/2000/svg"
                     class="previous-link__icon icon--chevron icon">
                    <path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"/>
                </svg>
                Return to Previous Page
            </a>
        </div>
    </div>



</div>

</div>

