<%- layout('../form') %>

<div class="insurance_info topMainPadding">
    <div class="insurance_text">
        Single Trip
    </div>
    <ul class="breadcrumbc">
        <li class="breadcrumb__item breadcrumb__item--current">
            Travel Information
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Personal Information
        </li>
        <li class="breadcrumb__item breadcrumb__item--blank">
            Quotation
        </li>
    </ul>

    <div  class="vehicle_detail_bg" >
        <form  name="travel_group" action="/tripGroupDetails" method="post"  onsubmit="return validateFormGroupTravelDetails()">
            <table class="table footable">
                <thead>
                <tr>
                    <th data-toggle="true" class="footable-first-column">
                        Title
                    </th>
                    <th>
                        First Name
                    </th>
                    <th data-hide="phone">
                        Last Name
                    </th>
                    <th data-hide="phone">
                        Email
                    </th>
                    <th data-hide="phone">
                        Mobile
                    </th>
                    <th data-hide="phone">
                        DOB
                    </th>
                    <th data-hide="phone">
                        Passport No
                    </th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=1;i<=countGroup;i++){
                    if(i==1){var style="selected"}else{style=""}
                %>
                    <tr class="<%= style %>">
                        <td>
                            <select name="title<%= i %>" id="title<%= i %>">
                                <option value="Mr">Mr</option>
                                <option value="Ms">Ms</option>
                            </select>
                        </td>
                        <td>
                            <input id="first_name<%= i %>" name="first_name<%= i %>" type="text"  class="textbox"  required />
                        </td>
                        <td>
                            <input id="last_name<%= i %>" name="last_name<%= i %>" type="text"  class="textbox"  required />
                        </td>
                        <td>
                            <input id="email<%= i %>" name="email<%= i %>" type="text"  class="textbox" required />
                        </td>
                        <td>
                            <input id="mobile<%= i %>" name="mobile<%= i %>" type="text"  class="textbox" required />
                        </td>
                        <td>
                            <div style="position: relative">
                                <input id="groupStartdate<%= i %>" name="startdate<%= i %>" type='text'  class="textbox" required/>
                            </div>
                        </td>
                        <td>
                            <input id="passport_no<%= i %>" name="passport_no<%= i %>" type="text"  class="textbox"  required />
                        </td>
                    </tr>

                <%} %>

                </tbody>
            </table>
            <div class="row">
                <button class="step__footer__continue-btn btn " type="submit" name="button">
                    <span class="btn__content">Process</span>
                </button>
                <a class="step__footer__previous-link" href="insurance.html">
                    <svg viewBox="0 0 6.7 11.3" height="11.3" width="6.7" xmlns="http://www.w3.org/2000/svg" class="previous-link__icon icon--chevron icon">
                        <path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"/>
                    </svg>
                    Return to Previous Page
                </a>
            </div>
        </form>
    </div>

</div>

